.carousel-nav {
	.carousel-indicators {
		li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0;
			margin-right: 5px;
			text-indent: -999px;
			cursor: pointer;
			border: 1px solid white;
			border-radius: 10px;
			background-color: @gray-lighter;
			
			&.active {
				background-color: @gray-light;
			}
		}
	}
}

.carousel-fade {
	.carousel-inner {
		.item {
			.opacity(0);
			.transition(opacity 400ms linear);
		}

		.active {
			.opacity(1);
		}

		.active.left , .active.right {
			left: 0;
			.opacity(0);
			z-index: 1;
		}

		.next.left , .prev.right {
			.opacity(1);
		}
	}

	.carousel-control {
		z-index: 2; 
	}
} 

.carousel-progress{
	margin-bottom: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 3px;
	.opacity(0.3);
	  
	.progress-bar{
		.transition(width 200ms linear);
		
		&.carousel-transition{
			.transition(none);
		}
		
	}
	
}