.form-control{
	
	&.radio_container,
	&.checkbox_container{
		.box-shadow(none);
		border: none;
		padding: 0;
		height: auto;
		background-color: transparent;
		
		span {
			display: inline-block;
			padding-left: 20px;
			margin-bottom: 0;
			vertical-align: middle;
			font-weight: 400;
			cursor: pointer;
			
			+ span{
				margin-top: 0;
				margin-left: 10px;
			}
			
			label{
				display: inline;
			}
		}
		
		input{
			margin-left: -20px;
			min-height: 0;
			display: inline-block;
		}
		
		legend {
				display: none;
		}
	}
}