.pagination-wrapper{
	> p{
		margin: 9px 0;
		margin-right: 15px;
	}
	
	// make .current to .active
	.current{
		
		&,
		&:hover,
		&:focus{
			z-index: 2;
			color: @pagination-active-color;
			background-color: @pagination-active-bg;
			border-color: @pagination-active-border;
			cursor: default;
		}
	}
}